.form {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  margin-bottom: 10px;
}

.input {
  margin-bottom: 7px;
  height: 30px;
  width: 240px;
}

.formBtn {
  cursor: pointer;
  height: 30px;
  width: 70px;
}

.error {
  color: red;
  width: 150px;
  font-size: 12px;
}

.inputError {
  composes: input;
  border-color: red;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80px;
}
