.table {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;

  border-spacing: 0px 15px;
  border-collapse: separate;
}

.thead {
  text-align: left;
  background-color: #b3cdfd;
  height: 35px;
}

.tr {
  background-color: #c1d7e7;
  height: 20px;
}

.status {
  text-align: center;
  vertical-align: middle;
}

.td {
  vertical-align: middle;
  cursor: pointer;
}

.tdId {
  composes: td;
  text-align: center;
  width: 100px;
}

.inner {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}
