// body {
//   font-family: 'Roboto', sans-serif;
//   font-size: 16px;
// }

section {
  margin-top: 50px;
  width: 400px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d1e5ef;
  border-radius: 5px;

  -webkit-box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.75);
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
